/input/images/Thumbs.db
temp
template
output
input-cache
fsh-generated
.vscode
.DS_Store
www
/_gencontinuous.bat
/_gencontinuous.sh
/_genonce.bat
/_genonce.sh
/input/data/ImplementationGuide-ihe.iti.scheduling.json